// app styling

@import 'mixins'

color1 = #10073d
color2 = hue((color1 + 50%), 0deg)

body
  background-color color1
  color color2
  padding 5%

body, svg
  margin-bottom 5%
  margin-left 20%
  max-width 50%

li
  margin-bottom 15px

pre
  background-color color2
  border-radius 5px
  color color1
  padding 10px

#svg-foot, #svg-text > *
  fill color2 !important
