// app styling

@import 'mixins'

body
  margin-left 25%
  margin-top 10%
  max-width 50%
  min-width 15%

h1
  color red
  font-family monospace
  font-style italic
  font-size 5em
  text-align center

pre
  background-color #ccc
  padding 10px
