// app styling

@import 'mixins'

color = #0d355a
light = hue((color + 50%), 180deg)

body
  background-color color
  color light

body, svg
  margin-left 25%
  max-width 50%

pre
  background-color light
  color color
  padding 10px

svg
  margin-bottom 5%
  margin-top 5%

#foot, #text > *
  fill light !important
