#media-controls
  progress#progress-bar min='0' max='100' value='0'
  button#replay-button.replay title='replay' onclick='replayMedia()' - Replay
  button#play-pause-button.play title='play' onclick='togglePlayPause()'
  button#mute-button.unmute title='mute' onclick="toggleMute('true')"
