<!DOCTYPE html>

html lang=data.meta.lang
  html-comment - SCRFORMAT: banner
  include('./head.marko', data.banner)
  title - ${data.meta.name} (banner)
  script src='vendor.js'
  layout-placeholder name='head'

  <coffee-script>
    init_banner = ->
      screenad.setAlignment 'banner', 'banner'
      screenad.setSticky banner.sticky
      screenad.setSize banner.width, banner.height
      screenad.setOffset banner.x, banner.y
      screenad.setZIndex banner.z
      screenad.position()
      return
  </coffee-script>

  body onload='init_banner()'
    script - window.banner = ${JSON.stringify(data.banner)};
    layout-placeholder name='body'
