<!DOCTYPE html>

html lang='en'
  head
    meta charset='utf-8'
    meta http-equiv='x-ua-compatible' content='ie=edge'
    meta name='viewport' content='width=device-width, initial-scale=1.0'

    link rel='stylesheet' href='preview.css'
    title - Weborama preview page

    <!--[if IE]>
      <style type='text/css'>
        #adrPos160x600{width:300px;height:600px;text-align:right;}
      </style>
    <![endif]-->


  body
    #wrapper
      #header

      #nav.block
        a href='http://www.weborama.nl' - Interstitial Anchor

      table width='100%' border='0' cellspacing='0' cellpadding='0'
        tr style='height:90px'
          td.block width='100%'
            #adrPos728x90.banner
              #adrPos468x60

            #adrPosCustom

      #nav2.block

      table width='100%' height='900' cellspacing='0' cellpadding='0'
        tr valign='top'
          td.banner width='15%'

          td width='85%'
            table width='100%' cellspacing='2' align='center'
              tr style='height:250px'
                td.block width='100%'
                  #adrPos336x280.banner
                    #adrPos300x250

            #inarticle_position_div

            table width='100%'
              tr for(i from 0 to 2)
                td.block width='100%'

          td cellspacing='0'
            #adrPos300x600
              #adrPos160x600.banner
                #adrPos120x600

      #footer
        base64-img align='left' alt='A Weborama Company' height='31' src='preview.footer.jpg' width='156'
        p - &copy; 2016 WEBORAMA - Advanced Rich Media Technology - Microsoft and Google certified Rich Media vendor
