<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Weborama Preview Page</title>

    <style type="text/css">
      body{margin:0; padding:0;font-family:'Arial';}
      a{color:#333; font-size:11px}
      #wrapper{width:970px; margin:0 auto;background:white}
      #header{height:100px;background-image:url("../../../previewpage/header.jpg"); background-repeat:no-repeat; background-position:left center;  }
      #footer{width:100%; color:#333; text-align:left; padding:4px 0; font-size:10px; }
      #nav{ margin-bottom:10px;padding:5px }
      #nav2{height:15px; margin-top:10px;   }
      .block{background:#d3d1d1;}
      .banner{background:#e2e2e2;}
      #footer{background:white}
      #adrPos160x600{text-align:center;min-width:160px;min-height:600px;}
    </style>

    <!--[if IE]>
      <style type="text/css">
        #adrPos160x600{width:300px;height:600px;text-align:right;}
      </style>
    <![endif]-->
  </head>

  <body>
    <div id="wrapper">
      <div id="header"/>

      <div id="nav" class=" block">
        <a href="http://www.weborama.nl">Interstitial Anchor</a>
      </div>

      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr style="height:90px;">
          <td width="100%" class="block">
            <div id="adrPos728x90" class="banner" style="text-align:center;">
              <div id="adrPos468x60" style="text-align:center;"></div>
            </div>
            <div id="adrPosCustom"/>
          </td>
        </tr>
      </table>

      <div id="nav2" class="block"/>

      <table width="100%" height="900" cellspacing="0" cellpadding="0">
        <tr valign="top">
          <td width="15%" class="banner"/>

          <td width="85%">
            <table width="100%" cellspacing="2" align="center">
              <tr style="height:250px">
                <td width="100%" class="block">
                  <div id="adrPos336x280" class="banner" style="width:336px; height:280px;margin:0 auto; text-align:center">
                    <div id="adrPos300x250" style="width:300px;margin:0 auto"/>
                  </div>
                </td>
              </tr>
            </table>

            <div id="inarticle_position_div" width="702"/>

            <table width="100%">
              <tr style="height:300px">
                <td width="100%" class="block"/>
              </tr>
              <tr style="height:300px">
                <td width="100%" class="block"/>
              </tr>
              <tr style="height:300px">
                <td width="100%" class="block"/>
              </tr>
            </table>
          </td>

          <td cellspacing="0">
            <div id="adrPos300x600">
              <div id="adrPos160x600" style="min-width:160px;min-height:600px;text-align:center" class="banner">
                <div id="adrPos120x600"/>
              </div>
            </div>
          </td>
        </tr>
      </table>

      <div id="footer">
        <img src="../../../previewpage/weborama.jpg" alt="A Weborama Company" width="156" height="31" align="left"/>

        <p>
          &copy; 2014 WEBORAMA - Advanced Rich Media Technology - Microsoft and Google certified Rich Media vendor
        </p>
      </div>
    </div>
  </body>
</html>
