doctype html

html
  head
    title rightfoot

    meta(charset="utf-8")

    meta(
      name="viewport"
      content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes"
    )

    script(type="text/javascript", src="js/vendor.js")
    script(type="text/javascript", src="js/app.js")

    link(rel="stylesheet", href="css/app.min.css")

  body
