doctype html

html(lang=lang)
  include ./partials/head

  body
    include assets/foot.svg

    ol
      li Brunch's configuration file is here:
        pre brunch-config.coffee

      li Local variables can modified here:
        pre app/variables.cson

      li The main view (what you're seeing right now) can be changed by editing:
        pre app/index.jade

      li The main stylesheet is located at:
        pre app/styles/app.styl

      li The main coffeescript file is located at:
        pre app/scripts/app.coffee

    script.
      require('scripts/app.coffee')
