global-reset()

body
  cursor pointer
  overflow hidden
  size 100%

#container
  background-image url(./public/backup.jpg)
  background-position right top
  background-repeat no-repeat
  fs 11px
  left 0
  position absolute
  size 100%
  top 0
