global-reset()

body
  cursor pointer
  overflow hidden
  size 100%

#container
  absolute left 0 top 0
  background-image url(backup.jpg)
  background-position right top
  background-repeat no-repeat
  fs 11px
  size 100%
