<!DOCTYPE html>

html lang=data.meta.lang
  html-comment - SCRFORMAT: layer
  include('./head.marko', data.layer)
  title - ${data.meta.name} (layer)
  script src='vendor.js'
  layout-placeholder name='head'

  <coffee-script>
    init_layer = ->
      screenad.hide 'self'
      screenad.setAlignment 'banner', 'banner'
      screenad.setSticky layer.sticky
      screenad.setSize layer.width, layer.height
      screenad.setOffset layer.x, layer.y
      screenad.setZIndex layer.z
      screenad.position()
      return
  </coffee-script>

  body onload='init_layer()'
    script - window.layer = ${JSON.stringify(data.layer)};
    layout-placeholder name='body'
