<html>
  <head>
    <!-- SCRFORMAT: layer -->

    <link rel="stylesheet" type="text/css" href="layer.css">

    <script type="text/javascript">
      function initL() {
        screenad.hide("self");
        screenad.setSize("600", "250");
        screenad.setAlignment("banner", "banner");
        screenad.setOffset(-300, 0);
        screenad.setSticky(true);
        screenad.setZIndex(100000);
        screenad.position();
      }

      function collapseFormat() {
        screenad.event('user_close');
        screenad.hide();
      }

      function clickDefault() {
        screenad.click();
        //console.log('click default');
      }
    </script>
  </head>

  <body onload="initL()">
    <div id="wrap_bg" onclick="clickDefault()">
      <!--Your content goes here-->
    </div>

    <div id="closebutton" onclick="collapseFormat()"></div>
  </body>
</html>
