<!DOCTYPE html>

html lang=data.meta.lang
  html-comment - SCRFORMAT: banner
  include('../partials/head.marko', data.banner)
  script src='vendor.js'
  script src='banner.js'
  title - ${data.meta.name} (banner)

  body onload='init_banner()'
    script - var banner = ${JSON.stringify(data.banner)}
