a
  color #333
  font-size 11px


body
  font-family 'Arial'
  margin 0
  padding 0


#adrPos160x600
  text-align center
  min-width 160px
  min-height 600px


#adrPos300x250
  height 250px
  margin 0 auto
  width 300px


#adrPos336x280
  height 280px
  margin 0 auto
  text-align center
  width 336px


#adrPos468x60,
#adrPos728x90
  text-align center


#footer
  background white
  background-image url(./lib/init/preview/footer.jpg)
  background-repeat no-repeat
  color #333
  font-size 10px
  height 31px
  padding 11px 0

  p
    text-align right


#header
  background-image url(./lib/init/preview/header.jpg)
  background-position left center
  background-repeat no-repeat
  height 100px


#inarticle_position_div
  width 702px

  & + table tr
    height 105px


#nav
  margin-bottom 10px
  padding 5px


#nav2
  height 15px
  margin-top 10px


#wrapper
  background white
  margin 0 auto
  width 970px


.banner
  background #e2e2e2


.block
  background #d3d1d1
